.form-box {
  background: $white;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 40px 0;
  padding: 40px 20px 0 20px;
}

.form-element {
	margin-bottom: 30px;
}

.regular-user {
  color: #1E8BC3;
}

.admin-user {
  color: #26A65B;
}

.circular-avatar img{
  height:200px;
  width:200px;
  border-radius:250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 150px;
  background-color: #DDD;
  border: 5px solid #cfd8dc;
  box-sizing: border-box;
}

.product-image img {
  height: 200px;
  width: 200px;
  background-color: #DDD;
  border: 3px solid #BFBFBF;
  box-sizing: border-box;
}

.product-image-large img {
  height: 300px;
  width: 400px;
  background-color: #DDD;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
}

.text-wrap {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -moz-binding: url('ellipsis.xml#ellipsis');
}
